nav{
    background-color: orange;
    padding-bottom: 20px;
}
section{
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    background-color:gray;
    border-radius: 0px 0px 10px 10px ;
}
article section h2{
    background-color:lightskyblue;

}

header:first-child h1{
    background-color:lightskyblue;
    margin-bottom: 0px;
    padding:10px;
}
footer{
    background-color:black;
}